{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

</body>

<!-- List of polls -->
<h1>Polls:</h1>
{% if polls %}
<ul>
    {%for poll in polls %}
    <li><a href="{% url 'polls:detail' poll.id %}">{{ poll.poll_name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}

</body>

</html>